---
layout: merit-badge
title: Family Life Merit Badge
menu: hide
folder-id: 1OwIPw3STseUiuPsJ2rFysEf7yXqYSHN3
---
<div class="content-strip content-strip--primary content-strip--extra-padding content-strip--center">
  <div class="flex-item">
    <h1>Family Life Merit Badge</h1>
    <p>First session on Thursday, March 26th at 7:00 PM</p>
  </div>
</div>
<div class="content-strip">
  <div class="flex-item">
    <p>Troop 370 be offering the Family Life merit badge through our remote advancement program. Successful completion of this merit badge will involve several phone/video conferences (~60 mins each) with the group and engagement with the Scout's parents & family between sessions. The Scout will need to complete a home project, keep a log of household chores for 90 days and have several "family meetings."</p>
    <p>The content of the family meetings include:</p>
    <ol>
      <li>Avoiding substance abuse, including tobacco, alcohol, and drugs, all of which negatively affect your health and well-being </li>
      <li>Understanding the growing-up process and how the body changes, and making responsible decisions dealing with sex</li>
      <li>How your chores in requirement 3 contributed to your role in the family</li>
      <li>Personal and family finances </li>
      <li>A crisis situation within your family</li>
      <li>The effect of technology on your family</li>
      <li>Good etiquette and manners</li>
    </ol>
    <p>To reserve your spot in this class for March 26th at 7 pm (or to express interest in another session), complete the form below. There is no cost associated with this merit badge.</p>
    <p>If you have any questions about Family Life merit badge or this class specifically please email Scott Boze (<a href="mailto:scotthboze@gmail.com">scotthboze@gmail.com</a>) or Harry Evans at <a href="mailto:hgevans@bellsouth.net">hgevans@bellsouth.net</a></p>
    <a href="/members/online-advancement/family-life-sign-up.html" class="mdc-button mdc-button--outlined">
      <i class="material-icons mdc-button__icon">how_to_reg</i>
      Sign up</a>
  </div>
</div>

