---
layout: merit-badge
title: Railroading Merit Badge
menu: hide
folder-id: 187dU39ud4CnWBG0kHR2DtoMAEkvd3yI6
---
<div class="content-strip content-strip--primary content-strip--extra-padding content-strip--center">
  <div class="flex-item">
    <h1>Railroading Merit Badge</h1>
    <p>First session on Thursday, March 26th at 7:00 PM</p>
  </div>
</div>
<div class="content-strip">
  <div class="flex-item">
    <p>Troop 370 will be offering the Railroading merit badge through our remote advancement program. Successful completion of this merit badge will involve being on an introductory call to be held on Thursday, March 26th at 7:00 PM.  The merit badge worksheet will be sent to participants.  On the introductory call, we will discuss the requirements, our plan, and begin discussion on the railroad industry.</p>
    <p>To reserve your spot in this class for March 26th at 7 pm (or to express interest in another session), complete the sign up form below. There is no cost associated with this merit badge.</p>
    <p>If you have any questions about Railroading merit badge or this class specifically please email Bill Peck (<a href="mailto:whpeck@me.com">whpeck@me.com</a>).</p>
    <a href="/members/online-advancement/railroading-sign-up.html" class="mdc-button mdc-button--outlined">
      <i class="material-icons mdc-button__icon">how_to_reg</i>
      Sign up</a>
  </div>
</div>

