.oah-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  @media (max-width: 1066px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 776px) {
    grid-template-columns: 1fr;
  }
}
.oah-card {
  padding: 25px;
  text-align: right;
  user-select: none;
  min-height: 153px;
  p {
    &.course-date, &.course-time, &.course-instructor-name {
      margin: 0;
      font-size: 14px;
      line-height: 1.2rem;
    }
  }
  img {
    position: absolute;
    height: 105px;
    top: 25px;
    left: 25px;
    user-drag: none;
  }
}
