<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include layout-components/head.html %}
  <body>
    {% include layout-components/sidenav.html %}
    {% include layout-components/topnav.html %}
    <div class="page-content">
      {{ content }}
      <div class="content-strip">
        <div class="flex-item">
          <div class="tmd-table-wrapper">
            <h2 class="tmd-table-header">Class Files</h2>
            <table id="filesTable" class="tmd-table">
              <tbody>
                <tr class="tmd-table-header_row">
                  <th class="th-name">File name</th>
                  <th class="th-date">Date added</th>
                  <th class="th-type">Type</th>
                  <th class="th-size">Size</th>
                </tr>
                <tr id="filesTableLoading"><th colspan="4">loading files...</th></tr>
                <style>
                  #filesTableLoading>th {
                    color: rgba(255, 255, 255, 0.5);
                    font-weight: 500;
                    height: 144px;
                  }
                </style>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--imported mdc script-->
      <script src="/js/main.js"></script>
    </div>
    {% include layout-components/scripts.html %}
    <script>
      function getFilesJson() { // get the files list from Google Drive
        const requestAccessToken = new XMLHttpRequest(); // request for access token
        requestAccessToken.open("POST", 'https://oauth2.googleapis.com/token');
        requestAccessToken.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        requestAccessToken.send('client_id=833197918708-enme07ohs68sll5a99n2nls6evivugjh.apps.googleusercontent.com&client_secret=7IZQBB_CLDDPuJg4UplApQD7&refresh_token=1%2F%2F04vrZVE3JLV0lCgYIARAAGAQSNwF-L9IrQiGEhss2Zjx_ONf6Iy95QhWcBqmw82tFi1IEIPxm1bPKgR4w2KZ7LjtQdv_eSiKv17M&grant_type=refresh_token');
        requestAccessToken.onreadystatechange = (e) => {
          if (requestAccessToken.readyState === 4) { // when json with token is delivered, do the following:
            const accessTokenJson = JSON.parse(requestAccessToken.responseText); // make response usable json in js
            const accessToken = accessTokenJson.access_token; // get the access token
            var accessTokenBearer = 'Bearer ' + accessToken; // prepare the access token to be used in the files list request
            const requestFilesJson = new XMLHttpRequest(); // request for files list
            requestFilesJson.open("GET", 'https://www.googleapis.com/drive/v2/files?orderBy=title%2Cfolder&key=AIzaSyDRr2ZaInRdzDd_975LU_Gb6BVh3h0bhBs');
            requestFilesJson.setRequestHeader('Authorization', accessTokenBearer);
            requestFilesJson.responseType = 'json';
            requestFilesJson.send();
            requestFilesJson.onreadystatechange = (e) => {
              loadFilesTable(requestFilesJson.response); // start the files table function with the provided files list json
              document.getElementById("filesTableLoading").remove();
            }
          }
        }
      }
      getFilesJson();
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>

    <script>
      function formatBytes(a,b){if(0==a)return"—";var c=1024,d=b||1,e=["B","KB","MB","GB","TB","PB","EB","ZB","YB"],f=Math.floor(Math.log(a)/Math.log(c));return parseFloat((a/Math.pow(c,f)).toFixed(d))+" "+e[f]};
      function loadFilesTable(jsonObj) {
        const files = jsonObj['items'];
        for (let i = 0; i < files.length; i++) {
          if (files[i].parents[0].id == "{{page.folder-id}}") {
            let tableRef = document.getElementById('filesTable'); // get reference to table
            const newRow = tableRef.insertRow(-1); // insert a row at the end of the table
            newRow.className = 'tmd-table-row';
            //download link
            newRow.setAttribute('data-href', files[i].webContentLink); // add URL as data-href attribute to created row
            newRow.addEventListener('click', function() {
              window.open(this.getAttribute('data-href')); // make clicking row open URL
            })
            // title
            const title = newRow.insertCell(0); // insert cell into row
            title.textContent = files[i].title; // set content of cell
            // last updated
            const lastUpdated = newRow.insertCell(1); // insert cell into row
            lastUpdated.textContent = moment(files[i].modifiedDate.match('\\d{4}-\\d{2}-\\d{2}'), 'YYYY-MM-DD').format('DD MMM YYYY'); // reformat date and insert into cell
            // type
            const type = newRow.insertCell(2); // insert cell into row
            type.textContent = files[i].fileExtension; // set content of cell
            // size
            const size = newRow.insertCell(3); // insert cell into row
            size.textContent = formatBytes(files[i].fileSize); //reformat bytes and set content of cell
          }
        }
      }
    </script>
  </body>
</html>
