---
layout: default
title: Troop Communications
---
<div class="content-strip content-strip--primary content-strip--extra-padding content-strip--center">
  <div class="flex-item">
    <h1>Troop Communications</h1>
  </div>
</div>
<div class="content-strip content-strip--no-bottom-padding">
  <div class="flex-item">
    <h2>Email Newsletters</h2>
    <p>Sign up to receive weekly email newsletters, Eagle Court of Honor annoucements, merit badge announcements, and other additional notices and opprotunities.</p>
    <a href="https://visitor.r20.constantcontact.com/manage/optin?v=001C1y_CazDx7-D91frPeh3u2I8M7ZQzW9Q" class="mdc-button standard-dark-button mdc-button--outlined mdc-ripple-upgraded">Subscribe to email newsletters</a>
  </div>
</div>
<div class="content-strip content-strip--no-bottom-padding">
  <div class="flex-item">
    <h2>Reminders</h2>
    <div class="col-1">
      <p>Sign up to receive weekly reminders and meeting plans for troop meetings, Eagle Court of Honor reminders, last-minute notices about service opportunities, and easy communication with the Troop leadership.</p>
      <p>To sign up, you will be required to either provide a phone number, provide an email address, or download the Remind app to your phone or computer.</p>
      <p>Notices and information sent through Remind are usually the most up-to-date compared to information sent through our other communication channels</p>
      <a href="https://www.remind.com/join/troop370b" class="mdc-button mdc-button--outlined">Sign up for reminders</a>
    </div>
    <div class="col-2">
      <iframe src="https://widgets.remind.com/widget?height=365&amp;join=true&amp;token=a1841e2083940134cee50242ac110004" id="remind101-widget-0" class="remind101-messages" allowtransparency="true" style="border:0;" title="Remind messages" width="100%" height="365px" frameborder="0"></iframe>
    </div>
  </div>
</div>
<div class="content-strip">
  <div class="flex-item">
    <div class="col-1">
      <h2>Facebook</h2>
      <p>Join our Facebook group for access to photos from troop events, annoucements related to upcoming opprotuinities, easy communication with Troop 370 members and parents, and other tips and information.</p>
      <a href="https://www.facebook.com/groups/126169727423188/" class="mdc-button mdc-button--outlined">View Troop Facebook page</a>
    </div>
    <div class="col-2">
      <h2>SmugMug</h2>
      <p>View photos from past Troop 370 events.</p>
      <a href="https://troop370.smugmug.com/" class="mdc-button mdc-button--outlined">View SmugMug page</a>
    </div>
  </div>
</div>
