---
layout: default
title: Troop Roster
---
<div class="content-strip content-strip--primary content-strip--extra-padding content-strip--center">
  <div class="container">
    <h1>Troop Roster</h1>
  </div>
</div>
<div class="content-strip">
  <div class="flex-item">
    <p>Download the PDF file below to view the Troop roster. For a sortable roster, download the Excel file. If you have any corrections or additions to the Troop Roster, <a href="/contact-info-directions.html"> update your TroopMaster contact information</a> or contact Trigger Williams at <a href="mailto:stephenwilliams5577@comcast.net">stephenwilliams5577@comcast.net.</a></p>
    <a href="https://dl.dropboxusercontent.com/s/jexjxe4t6knhrqk/Troop%20370%20Roster%20-%20June%202019.pdf?dl=0  " class="mdc-button mdc-button--outlined">
      <svg class="mdc-button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="height:24px;">
        <path d="M12,10.5H13V13.5H12V10.5M7,11.5H8V10.5H7V11.5M20,6V18A2,2 0 0,1 18,20H6A2,2 0 0,1 4,18V6A2,2 0 0,1 6,4H18A2,2 0 0,1 20,6M9.5,10.5A1.5,1.5 0 0,0 8,9H5.5V15H7V13H8A1.5,1.5 0 0,0 9.5,11.5V10.5M14.5,10.5A1.5,1.5 0 0,0 13,9H10.5V15H13A1.5,1.5 0 0,0 14.5,13.5V10.5M18.5,9H15.5V15H17V13H18.5V11.5H17V10.5H18.5V9Z" />
      </svg>
      TR PDF - July 2019
    </a>
    <a href="https://dl.dropboxusercontent.com/s/2lc7c4xoixlre5g/Troop%20370%20Roster%20-%20July%202019.xlsx?dl=0" class="mdc-button mdc-button--outlined">
      <svg class="mdc-button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="height:24px;">
        <path d="M16.2,17H14.2L12,13.2L9.8,17H7.8L11,12L7.8,7H9.8L12,10.8L14.2,7H16.2L13,12M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z" />
      </svg>
      TR XLS - July 2019
    </a>
  </div>
</div>
