---
layout: default
title: What Can I Do?
---
<div>
  <div class="content-strip content-strip--primary content-strip--extra-padding content-strip--center">
    <div class="flex-item">
      <h1>What Can I Do?</h1>
      <p>Troop 370 is a large troop that serves well over one hundred active scouts, and there are plenty of ways for our parents and adult volunteers to assist throughout the year. While we encourage you to be as active and involved as you would like to be, you do not have to make a full-time, every week commitment. Many of our parent volunteers never go on a campout and never put on a uniform, but their contributions are critical to the efficient operation of Troop 370 and the training of its Scouts. Look through the list below, and see what calls out to you.</p>
    </div>
  </div>
  <div class="content-strip">
    <div class="flex-item">
      <style>
      <!--
       /* Font Definitions */
       @font-face
      	{font-family:"Cambria Math";
      	panose-1:2 4 5 3 5 4 6 3 2 4;}
       /* Style Definitions */
       p.MsoNormal, li.MsoNormal, div.MsoNormal
      	{margin-top:0in;
      	margin-right:0in;
      	margin-bottom:6.95pt;
      	margin-left:.5pt;
      	text-indent:-.5pt;
      	line-height:1.5 !important;
      	font-size:11.0pt;
      	font-family:"Roboto",sans-serif;
      	color:var(--mdc-theme-text-on-background);
        padding: var(--content-strip-elements-padding-between) var(--content-strip-padding-x);}
      h2
      	{mso-style-link:"Heading 1 Char";
      	margin-top:.25in;
      	margin-right:0in;
      	margin-bottom:6.95pt;
      	margin-left:0in;
      	text-indent:-.7pt;
      	line-height:115%;
      	page-break-after:avoid;
      	font-size:24px;
      	font-family:"IBM Plex Sans","Roboto",sans-serif;
      	color:var(--mdc-theme-text-on-background);
      	font-weight:500;
        padding-top: 30px;}
      span.Heading1Char
      	{mso-style-name:"Heading 1 Char";
      	mso-style-link:"Heading 1";
      	font-family:"Roboto",sans-serif;
      	color:var(--mdc-theme-text-on-background);
      	font-style:italic;
      	text-decoration:underline;
        padding: var(--content-strip-elements-padding-between) var(--content-strip-padding-x);}
      .MsoPapDefault
      	{margin-bottom:8.0pt;
      	line-height:107%;}
       /* Page Definitions */
       @page WordSection1
      	{size:8.5in 11.0in;
      	margin:59.9pt 72.25pt 59.4pt 1.0in;}
      div.WordSection1
      	{page:WordSection1;}
      -->
      </style>
      <div class="WordSection1">

        <h2>Board of Review Team Members</h2>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%">Board of Review
        Coordinator (Steve Shindell) – Coordinate scheduling 3-5 adults every week to
        serve as Board of Review members for Scout advancement.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%">Board of Review
        Members – Agree to serve of Boards of Review.&nbsp; With sufficient participation,
        Board Members would only need to serve once or twice a month.&nbsp;&nbsp; The Troop has a
        comprehensive list of guidelines and sample questions.&nbsp; </p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%">Steve Shindell
        is the current Board of Review Coordinator.&nbsp; Contact Steve if you are
        interested in serving regularly as a Board of Review member,</p>

        <h2>Troop Campouts</h2>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Trip Captain </u>–
        Works with the Troop’s Campout Coordinator to create and collect Permission
        Slips, collect campout fees, create campout roster, confirm “accommodations”
        and complete and file the BSA Trip Permit.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Trailer King
        or Queen </u>– volunteer to pull the Troop Trailer.&nbsp;&nbsp; We have experts that will
        help you hook up the trailer to your truck or SUV and teach you how to back up
        with the trailer attached.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Troop Closet
        Adult </u>– Assists Troop Quartermaster before campout departure, including
        assisting with Patrol and Scout Checkout procedures</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Health Forms </u>–
        Work with Campout Coordinator, Trip Captain and Health &amp; Safety Coordinator
        to be sure that current Health Forms are on file (and at the campout) for all
        Scouts and parents.&nbsp; </p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Tent and Tarp
        Preservation </u>– If you have a an unfinished basement or large garage, volunteer
        to take home tents, ground cloths and tarps after a campout to be sure that
        they are completely dry before storing them in the Troop Closet.&nbsp; </p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%">Cyrus Sharp is
        the current Campout Coordinator.&nbsp; Contact Cyrus if you would like to assist
        with Troop campouts.</p>

        <h2>Health and Safety<span style="text-decoration:none"> </span></h2>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Health Form
        Tracker </u>(Sandy Pon) – Be responsible for collecting and tracking Health
        Forms for Troop 370 Scouts and Scouters.&nbsp;&nbsp; Provide notices to Scouts and
        parents prior to the expiration of the BSA Health Forms.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Youth
        Protection Tracker </u>– Be responsible for tracking adult Scouters’ compliance
        with the BSA’s Youth Protection requirements, including notification to any
        adults whose YPT Certificate is expiring soon.&nbsp; </p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Health Form
        Collection </u>– Be one of the designated individuals to receive Health Forms
        at weekly Scout meetings.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Special
        Training Tracker </u>- Be responsible for tracking what adults have gone
        through special safety training, including Wilderness First Aid, CPR, Safety
        Afloat, etc.&nbsp;&nbsp; Such completions and certifications are often required as part
        of a Troop Event.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%">Sandy Pon is the
        Troop’s current Health and Safety Coordinator.&nbsp; Contact Sandy if you are
        interested in assisting with the Troop’s health and safety efforts.</p>

        <h2>Troop Registration Duties</h2>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Registration
        Paperwork </u>– Be one of the designated individuals to receive Registration
        Forms, Dues Payments and Health Forms from new Scouts and parents at weekly
        Scout meetings.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Rechartering
        Paperwork </u>(Lori Ainsworth) – Assist the Registration Coordinator with
        rechartering and dues collections in November and December each year.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%">Walter Waddey is
        the current Registration Coordinator.&nbsp;&nbsp; Contract Walter if you are interested
        in assisting with Registration and Rechartering efforts.</p>

        <h2>Adult Training<span style="text-decoration:none"> </span></h2>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Adult
        Training Record Keeper<i>. </i></u>(Sheri Buehner) Be the designated individual
        to track the Adult Learning Courses taken by the adult Scouters.&nbsp; Also work
        with the District Liaison to confirm that adult training is accurately
        reflected in the District records.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Adult
        Advancement<i>.&nbsp; </i></u>Be the designated individual to work with the Adult
        Training Record Keeper to determine when Adult Scouters may be eligible for
        adult recognition awards and encourage adults to complete the appropriate
        applications and paperwork to be recognized.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%">Trigger Williams
        is the Troop’s Advancement Coordinator and routinely interacts with the Phoenix
        District on Adult Training requirements.&nbsp; Contact Trigger if you are interested
        in assisting with Adult Training.</p>

        <h2>Calendar
        Coordinator<span style="text-decoration:none"> </span></h2>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%">Be the contact
        person for keeping the Troop’s Google Calendar up to date</p>

        <h2>Merit Badge Weekends (twice a year – February and August)</h2>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Registration </u>-
        Arrive and set up Registration Area before the Event and help register Scouts
        and collect money</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Counselor
        Recruitment </u>– Contact past merit badge counselors and recruit new counselor
        to teach merit badges</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Lunch </u>–
        Help prepare and serve lunch</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Grocery
        Getter </u>- Volunteer to make a Costco or Sam’s Club Run for provisions</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Merit Badge
        Counselor </u>– Serve as a merit badge counselor or assistant </p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Gym
        Supervisor </u>- Volunteer to supervise gym activities between the end of the
        merit badge class and parents’ arrival for pickup.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%">Shelli Keagle is
        the coordinator for the Troop Merit Badge Clinics.&nbsp; Contact Shelli if you are
        interested in assisting with the Merit Badge Clinics or are willing to lead the
        organization of these Clinics in the future.</p>

        <h2>Monthly Merit Badge and Scout Skill Programs and Merit Badge Counseling</h2>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Merit Badge
        Counselor </u>– Sign up to be a Merit Badge Counselor.&nbsp; There are over 100
        merit badges.&nbsp; Being a counselor allows you to share your vocation and hobbies
        with Scouts.&nbsp;&nbsp; Some counselors will teach classes at the bi-annual Merit Badge
        Clinics or the monthly Troop 370 classes.&nbsp; Others prefer to teach smaller group
        of Scouts on an ad-hoc basis.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Monthly Merit
        Badge Program Coordinator </u>– (Sheri Buehner) Work with registered merit
        badge counselors to offer one or two merit badge classes each month to the
        Scouts of Troop 370 in areas requested by the Patrol Leaders Council.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Monthly Scout
        Skills Program Coordinator </u>(Sheri Buehner) – Work with merit badge
        counselors, parents and Scout Leaders to identify short programs (20-45
        minutes) to present to the Scouts as part of the weekly meeting (after approval
        and scheduling by the Patrol Leaders Council)</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%">Contact Sheri
        Buehner if you are interested in being a Merit Badge Counselor, helping with
        the Troop’s Merit Badge Counselor Program or would like to submit a proposal
        for the Scout Skills Program.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><i><u>Used Gear
        Sale</u>:</i></p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Collection
        and Compilation </u>– Volunteer to collect and organize “donations” of used
        camping gear for redistribution</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Cashier and
        Checkout</u>– Volunteer for cashier/check-out duties as the Troop repurposes
        used camping gear</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%">Cyrus Sharp coordinated
        the Troop’s first sale in February 2015.&nbsp; Contact Cyrus if you are interested
        in assisting with the next sale.</p>

        <h2>Troop Banquet (August)</h2>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Setup and/or
        Breakdown </u>- Volunteer to assist event coordinator with set up before or
        breakdown after the banquet.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Grocery
        Getter </u>– Assist the event coordinator in purchasing any supplies and/or
        food for the banquet.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%">Fontaine Kohler
        is the principal coordinator for the Troop’s annual awards banquet.&nbsp; Contact
        Fontaine if you are interested in helping with the banquet.</p>

        <h2>Eagle Courts of Honor</h2>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Setup and/or
        Breakdown </u>- Volunteer to assist event coordinator with set up or breakdown
        after the reception.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Eagle
        Photographer </u>– Volunteer to take pictures of the ceremony, Eagle Scouts and
        families and post the pictures to Smug Mug or other photo sharing site.&nbsp; This
        allows the Eagle families to enjoy the day without having to worry about
        memorializing it.&nbsp; </p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Grocery
        Getter </u>– Assist the event coordinator in purchasing any supplies and/or
        food for the reception, including picking up the cake.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%">Stacy Cimowsky
        coordinates the Courts of Honor.&nbsp; Contact Stacy if you are interested in
        assisting with these important ceremonies.</p>

        <h2>Summer Camp- Woodruff</h2>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Registration </u>–
        Be one of the several volunteers to arrive early and assist with Summer Camp
        check-in, and break down stations afterwards.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Gym
        Supervisors </u>– Watch over the kids congregating in the gym after check in
        but prior to departure.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Grocery
        Getter </u>- Volunteer to make a Costco or Sam’s Club Run for cracker barrel
        provisions</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Health and
        Safety Assistant </u>– Help the Health Form Tracker collect and organize Health
        Forms prior to Summer Camp.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Medicine
        Master and Assistants </u>– Be part of the team that insures that all Scouts
        take regularly prescribed medicines, including checking in the medicine before
        camp.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Adult Campers
        </u>– The Troop needs adult volunteers to stay at camp for all or a portion of
        the week.&nbsp; There are plenty of Scouts to supervise and mentor.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%">Jeff Hunt is the
        Woodruff Summer Camp coordinator.&nbsp; Contact Jeff if you would like to assist at
        Summer Camp.</p>

        <h2>Winter Camp – Bert Adams</h2>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Coordinator </u>–
        Be the adult coordinator responsible for publicizing this 5-day event that
        occurs between Christmas and New Years Day and for getting the Scouts
        registered and signed up for merit badges.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Adult Campers
        </u>– The Troop needs 2-5 adult volunteers to stay at camp for all or a portion
        of the 5-day camp.&nbsp; There are plenty of Scouts to supervise and mentor.</p>

        <h2>Troop Equipment</h2>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Repair Dude </u>-
        Work with Quartermaster to identify equipment that needs to be repaired and
        work with other interested adults and Scouts to complete repairs.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Grocery
        Getter </u>– Work with Quartermaster to be sure that Troop Staples are in stock
        for campouts and resupply as necessary.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%">John Snelson is
        the Camping Equipment Coordinator and works with the Troop Quartermaster.&nbsp;
        Contact John if you are interested in assisting with the Troop equipment and
        the Quartermaster.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><i><u>Pine Straw
        Weekends (twice a year):</u></i></p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Registration,
        Food and Beverage Tables </u>– Volunteer to track Scout attendance and hours at
        the bi-annual pine straw sales.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Marketing </u>–
        Work with the Pine Straw Coordinator to direct and coordinate marketing prior
        to the event</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Orders Clerk </u>–
        Work with the Pine Straw Coordinator to direct and coordinate the receipt,
        logging and tracking of orders prior to the event, including mapping out
        delivery routes and schedules</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Distribution
        Coordinator </u>- Work with the Pine Straw Coordinator and Orders Clerk to map
        out delivery routes and schedules.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Delivery Dude
        </u>- Volunteer your truck or pull a trailer to deliver pine straw</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%"><u>Grocery
        Getter </u>– Volunteer to make a Costco, Sam’s Club and Pizza Run for snacks
        and lunch</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%">Franziska
        Shepard is the Troop’s Pine Straw Coordinator, in charge of this biannual event
        to help Scouts pay for summer camp, high adventure trips and jamborees.&nbsp; Please
        contact Franziska if you are interested in playing one of the parts described
        above.</p>

        <h2>Fund Raising and Service – Once a Year Programs</h2>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%">Camp Cards for
        Summer Camp and High Adventure – Spring (Franziska Shepherd)</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%">Scout Popcorn
        Sales - Fall</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%">Scouting for
        Food – March (Michael Maley)</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%">Tex Woodruff
        coordinates many of the Troops fundraising efforts.&nbsp; Please call Tex if you are
        interested with helping out on any of these programs.</p>

        <h2>Grocery Run Gang: Volunteer to Make a Grocery Run for Local Troop Events:&nbsp;
        (Duplicative of Above)</h2>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%">Merit Badge
        Lunches</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%">Scout Weekend
        Snack Bar</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%">Summer Camp
        Cracker Barrels</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%">Pine Straw Lunch
        and Snacks</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%">Eagle Courts of
        Honor</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%">Annual Troop
        Banquet</p>

        <h2>Assistant Scoutmaster Advancement and Program Roles</h2>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%">Assistant
        Scoutmasters in Troop 370, among other things, help to monitor and encourage
        the learning and mastery of Scouting skills which leads to advancement in rank
        from Tenderfoot up to Eagle Scout.&nbsp; The Assistant Scoutmasters work closely
        with the Scout-aged Instructors and Troop Guides to be sure that our young
        Scouts are given the opportunity to learn and advance.</p>

        <p class="MsoNormal" style="margin-left:-.25pt;line-height:115%">Our Scoutmaster,
        Harry Evans, is the leader of the Assistant Scoutmaster Corps.&nbsp;&nbsp; Contact Harry
        if you would like more information about being an Assistant Scoutmaster with
        Troop 370.</p>
        </div>
      </div>
    </div>
  </div>
<div class="content-strip content-strip--primary">
  <div class="flex-item">
    <h1 class="mdc-typography--headline4" style="color: var(--mdc-theme-text-on-primary);">Email Information for Selected Adult Scouters</h1>
  </div>
</div>
<div class="content-strip" style="overflow-x:auto;">
  <div class="flex-item">
    <div>
    	<table cellspacing="0" cellpadding="0">
    		<tbody>
          <tr>
            <th>Position</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
    			<tr>
    				<td>Chartered Organization Rep.</td>
    				<td>Kent Watkins</td>
    				<td>kent.watkins@gmail.com</td>
    			</tr>
    			<tr >
    				<td>Troop Committee Chairman</td>
    				<td>John Buehner</td>
    				<td>jebuehnersr@comcast.net</td>
    			</tr>
    			<tr >
    				<td>Scoutmaster</td>
    				<td>Harry Evans</td>
    				<td>hgevans@bellsouth.net</td>
    			</tr>
    			<tr >
    				<td>Venture Advisor</td>
    				<td>Leslee Evans</td>
    				<td>evansclan@bellsouth.net</td>
    			</tr>
    			<tr >
    				<td>Advancement Chairman</td>
    				<td>Trigger Williams</td>
    				<td>triggerw@bellsouth.net</td>
    			</tr>
    			<tr >
    				<td>Treasurer</td>
    				<td>Emory Boyd</td>
    				<td>emoryboyd@hotmail.com</td>
    			</tr>
    			<tr >
    				<td>Membership/Re-charter</td>
    				<td>Walter Waddey</td>
    				<td>wwwaddey@bellsouth.net</td>
    			</tr>
    			<tr >
    				<td>Campout Coordinator</td>
    				<td>Cyrus Sharp</td>
    				<td>chsharp3@gmail.com</td>
    			</tr>
    			<tr >
    				<td>Equipment Coordinator</td>
    				<td>John Snelson</td>
    				<td>rjsnelsonjr@gmail.com</td>
    			</tr>
    			<tr >
    				<td>Health and Safety</td>
    				<td>Sandy Pon</td>
    				<td>sandypon@hotmail.com</td>
    			</tr>
    			<tr >
    				<td>Pine Straw Fundraiser</td>
    				<td>Franziska Shepard</td>
    				<td>franziska@bellsouth.net</td>
    			</tr>
    			<tr >
    				<td>Summer Camp Chairman</td>
    				<td>Jeff Hunt</td>
    				<td>iconherder@gmail.com</td>
    			</tr>
    			<tr >
    				<td>Communication</td>
    				<td>Stephanie Sherling</td>
    				<td>steph.sherling@gmail.com</td>
    			</tr>
    			<tr >
    				<td>Troop Fundraising</td>
    				<td>Tex Woodruff</td>
    				<td>rrwoodruff@gmail.com</td>
    			</tr>
    			<tr >
    				<td>Merit Badge Clinics</td>
    				<td>Shelli Keagle</td>
    				<td>pack370den25@gmail.com</td>
    			</tr>
    			<tr >
    				<td>Scout Skills Program</td>
    				<td>Sheri Buehner</td>
    				<td>sheribuehner@gmail.com</td>
    			</tr>
    			<tr >
    				<td>Board of Review Coordinator</td>
    				<td>Steve Shindell</td>
    				<td>steveshindell@gmail.com</td>
    			</tr>
    			<tr >
    				<td>Uganda Bridges Program</td>
    				<td>Fontaine Kohler</td>
    				<td>fontainekohler@bellsouth.net</td>
    			</tr>
    			<tr >
    				<td>New Parent Liaison</td>
    				<td>Stephanie Sherling</td>
    				<td>steph.sherling@gmail.com</td>
    			</tr>
    		</tbody>
    	</table>
    </div>
  </div>
</div>
